<h1>new book Create screen</h1>
<form action="/books" method="POST" enctype="multipart/form-data">
<%- include('_form_feild') %> 
<br>
<br>
<a href="/books">Cancle</a>
<button type="submit">Create</button>
</form>
<br>